@model IEnumerable<Category>;

@{
}

<div class="container">
    <p>
        <a class="nav-link" asp-controller="Category" asp-action="Edit" > New Category </a>
    </p>
    @foreach (Category category in Model)
    {
        <div class="category" asp-controller="Category" asp-action="Details" asp-route-id="@category.Id">
            <div class="categoryInfo">
                <h6 class="text-light"> @category.Name</h6>
                <p class="text-light">@category.Description</p>
            </div>
            <div class="categoryOptions">
                <a class="nav-link" asp-controller="Category" asp-action="Details" asp-route-id="@category.Id"> Details </a>
                <a class="nav-link" asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id" > Edit </a>
                <a class="nav-link" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" > Delete </a>
            </div>
        </div>
    }
</div>